.marquee {
    padding-block: 0.5rem;
    border-block: 1px solid var(--base-text);
}

.marquee-content {
    --gap: 2rem;
    display: flex;
    gap:  var(--gap);
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;  
    user-select: none;
    white-space: nowrap;
    padding-inline: var(--base-pd-inline);
}

.marquee-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    animation: marquee 20s linear infinite;
}
.marquee-content:hover ul {
    animation-play-state: paused;
}
.marquee-content li {
    padding-inline: 1rem;
}

@keyframes marquee {
     to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}


.marquee-content ul:first-child{
    /* background-color: yellow; */
}

.marquee-content ul:last-child{
    /* background-color: pink; */

}