#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
}

@supports (-webkit-text-stroke: 1px var(--base-text)) {
  .outline {
    -webkit-text-stroke: 1px var(--base-text);
    -webkit-text-fill-color: var(--base-bg);
  }
}
.title-block {
    display: flex;
    justify-content: center;
    inline-size: -webkit-fill-available;
    inline-size: fit-content;
    margin-inline: auto;
    margin-block-end: 3rem;
}
.full-stop {
    font-size: var(--base-fs-lg);
    line-height: 1rem;
    color: var(--base-text);
}