#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
}

@supports (-webkit-text-stroke: 1px var(--base-text)) {
  .outline {
    -webkit-text-stroke: 1px var(--base-text);
    -webkit-text-fill-color: var(--base-bg);
  }
}
